[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
start = "flask run"

[dev-packages]
pylint = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
sqlalchemy = "*"
gunicorn = "*"
python-dotenv = "*"
mysqlclient = "*"

[requires]
python_version = "3.7"
