@import "src/styles/colors";

.buckets {
  &-wrapper {
    max-height: 100vh;
    flex: 25rem 0 0;
    background-color: $primary;
    overflow-y: scroll;
  }
  &-menu {
    position: absolute;
    left: 1rem;
    top: 1rem;
    display: none;
    height: 4rem;
    width: 4rem;
    border: 1px solid $primary;
    fill: $primary;
    padding: 1rem;
    cursor: pointer;
  }
  &-title {
    color: $black;
    font-size: 3rem;
    text-align: center;
  }
  &-input_wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  &-input {
    display: block;
    font-size: 1.6rem;
    padding: 1rem;
    margin: 1rem 0;
    border: none;
    width: calc(100% - 4rem);
  }
  &-button {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    margin: 1rem;
    cursor: pointer;
    &-active,
    &:hover {
      background-color: $highlight;
    }
    &-link {
      flex: 1 1 auto;
      text-decoration-line: none;
      color: $black;
      padding: 1rem;
    }
  }
  &-button2 {
    padding: 1rem;
  }
  &-delete {
    font-size: 2rem;
    background-color: $primary;
    color: $black;
    border: none;
    cursor: pointer;
    padding: 0 1rem;
    margin: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .buckets {
    &-wrapper {
      position: absolute;
      left: 0;
      height: 100%;
      width: 25rem;
      transition: all 500ms ease-in-out;
      &-hidden {
        transform: translateX(-25rem);
      }
    }
    &-menu {
      display: block;
      transition: all 500ms ease-in-out;
      &-right {
        transform: translateX(25rem);
      }
    }
  }
}
