@import "src/styles/colors";

.buckets {
  &-wrapper {
    max-height: 100vh;
    flex: 25rem 0 0;
    background-color: $primary;
    overflow-y: scroll;
  }
  &-title {
    color: $black;
    font-size: 3rem;
    text-align: center;
  }
  &-input_wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  &-input {
    display: block;
    font-size: 1.6rem;
    padding: 1rem;
    margin: 1rem 0;
    border: none;
    width: calc(100% - 4rem);
  }
  &-button {
    display: block;
    font-size: 2rem;
    padding: 1rem;
    margin: 1rem;
    color: $black;
    text-decoration-line: none;
    cursor: pointer;
    &-active,
    &:hover {
      background-color: $highlight;
    }
  }
  &-button2 {
    padding: 1rem;
  }
}
